html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 70px;
}

.error {
    color: red;
}

form {
    width: 200px;
    clear: both;
}
form input {
    width: 50%;
    clear: both;
}
